{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Ticketsolve plugin for Craft CMS 3.x
 *
 * Ticketsolve index.twig
 *
 * @author    Dimitar Kokov
 * @copyright Copyright (c) 2020 Burnthebook Ltd.
 * @link      https://github.com/Burnthebook
 * @package   Ticketsolve
 * @since     1.0.0
 */
#}

{% extends "_layouts/elementindex" %}

{% set title = "Shows"|t('ticketsolve') %}
{% set selectedSubnavItem = 'shows' %}
{% set elementType = 'devkokov\\ticketsolve\\elements\\Show' %}

{% block actionButton %}
    <a href="{{ url('ticketsolve/sync-now') }}" class="btn submit">{{ "Sync Now"|t('ticketsolve') }}</a>
{% endblock %}